*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    color: #323238;

    height: 100vh;
    display: grid;
    place-items: center;
}

main {
    display: flex;
    align-items: center;
}

.timer {
    width: 32.1rem;
    margin-right: 19.2rem;
}

.clock {
    display: flex;
    justify-content: center;

    font-weight: 500;
    font-size: 12.617rem;
    line-height: 14.8rem;
}

.timer .buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 1.7rem;
}

.buttons:hover{
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: 13.8rem 13.8rem;
    grid-template-rows: 15.2rem 15.5rem;
    gap: 3.2rem;
}

.card-florest, .card-rain, .card-coffee, .card-fire {
    background-color: hsla(240, 9%, 89%, 1);
    border-radius: 2.4rem;
    width: 100%;
    
    display: grid;
    place-content: center;
    place-items: center;
    padding: 2.4rem;


    gap: 3.2rem;
    transition: 200ms;

    
}



div .icon svg {
    
}

input {
 width: 9rem;


}

.card-florest:hover, .card-rain:hover, .card-coffee:hover, .card-fire:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.pressButton {
    background-color: #02799D;
    fill: white;
}

.hide {
    display: none;
}

.darkmode, .lightmode {

    position: absolute;
    top: 6rem;
    right: 6rem;
}





@media (max-width: 828px) {
    main{
        display: block;
    }

    .timer {
        margin: 0 0 5rem;
        width: 25rem;
        justify-content: center;
    }

    .clock {
        font-size: 10rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 10rem 10rem;
        grid-template-rows: 10rem 10rem;
        gap: 3.2rem;
        justify-content: center;
    }

    .cards svg {
        width: 3rem;
    }

    .card-florest, .card-rain, .card-coffee, .card-fire {
        border-radius: 2.4rem;
        
        padding: 1.5rem;
    
    gap: 1rem;
        transition: 200ms;
    
        
    }


    input {
        width: 7rem;
       height: 1rem;
       
       }


    
}